// Colors
$lm-blue: #02d6ff;
$lm-green: #1fda9a;
$lm-danger: #ed145b;
$lm-star: #ffd700;
$lm-lightgray: #f8f9fa;
$lm-gray: #e9ecef;
$lm-darkgray: #dee2e6;
$lm-black: #555555;

// Theme Colors
$theme-colors: (
    primary: $lm-blue,
    secondary: $lm-green,
    danger: $lm-danger,
    star: $lm-star,
    lightgray: $lm-lightgray,
    darkgray: $lm-darkgray
);

// Body
$body-color:    $lm-black;

// Fonts
$font-family-sans-serif: -apple-system, Lato, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base: $font-family-sans-serif;

// Links
$link-hover-decoration: none;

// Buttons
$btn-border-radius: 20px;
$btn-border-radius-lg: 20px;

//Form Inputs
$input-border-radius: 20px;
$custom-select-border-radius: 20px;
