// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Ionicons
@import "node_modules/ionicons/scss/ionicons";

// Flatpickr
@import "node_modules/flatpickr/dist/flatpickr";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Chewy|Lato:300,400');

div#root {

	word-wrap: break-word;

	div.search {
		button.btn-search {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}

	// Header
	header {

		// Primary Nav
		nav#nav-primary {
			div#search-desktop, ul#nav-desktop {
				div.search {
					margin-bottom: 0;
				}
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
			button.navbar-toggler {
				border-radius: 0.5em;
			}
		}

		// Secondary Nav
		nav#nav-secondary {
			div.row {
				height: 100%;
				background-color: $lm-lightgray;
				border-top: 1px solid $lm-gray;
				border-left: 1px solid $lm-gray;
				a {
					border-radius: 0;
					border-bottom: 1px solid $lm-gray;
					border-right: 1px solid $lm-gray;
					&:hover {
						background-color: $lm-blue;
						color: white;
					}
				}
			}
		}
		
		// Mobile Nav
		nav#nav-mobile {
			@include media-breakpoint-up(lg) {
			  display: none;
			}
		}

	}

	// App
	div#app {

		// Banner
		div.banner {
			background: url(https://learnermaxima.nyc3.digitaloceanspaces.com/assets/pages/layout/gradient.png) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			&.banner-sm {
				min-height: 150px;
			}
			&.banner-lg {
				min-height: 500px;
			}
		}

		// Lesson List
		div.list-lesson {

			p.filter-info-l {
				text-align: center;
				@include media-breakpoint-up(lg) {
					text-align: left;
				}
			}

			p.filter-info-r {
				text-align: center;
				@include media-breakpoint-up(lg) {
					text-align: right;
				}
			}

			div.list-lesson-filters {
				@include media-breakpoint-up(lg) {
					border-right: 1px solid $lm-darkgray;
				}
				button.btn-hide-lg {
					@include media-breakpoint-up(lg) {
						display: none;
					}
				}
			}
		}

		div.container-card-number {
			@include media-breakpoint-down(xs) {
				display: none;
			}
			span.card-number {
				font-size: 3em;
			}
		}

		// Video Container
		div.container-video {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
			height: auto;
			iframe, object, embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		div.meta-header-classroom {
			div.next-classroom {
				@include media-breakpoint-up(md) {
					text-align: right;
				}
			}		
		}

		// Review Container
		div.container-review {
			div.container-rating {
				@include media-breakpoint-up(md) {
					text-align: right;
				}
			}
		}

	}

}

// Flatpickr
.flatpickr-calendar {
	.flatpickr-day.selected {
		background: $lm-green;
		border-color: $lm-green;
	}
}

// SWAL
div.swal-modal {
	button.swal-button {
		@extend .btn;
		&.swal-button--confirm {
			@extend .btn-secondary;
			&, &:focus, &:hover, &:visited {
				color: white;
			}
		}
		&.swal-button--danger {
			@extend .btn-danger;
		}
	}
	.swal-text {
		text-align: center;
	}
}

// Paginate
ul.pagination {
	font-size: 18px;
	li {
		padding: 0 5px;
	}
}
